<IfModule mod_rewrite.c>
    RewriteEngine On
    # RewriteBase /my/api
    RewriteCond %{REQUEST_URI} !dispatch\.php$
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule .* dispatch.php [L,QSA]
</IfModule>
